// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;

// Figma colors.
$accent-40: #F3D5B3;
$accent-60: #DCD3D0;
$accent-80: #F3DDD4;
$accent-100: #DAD8BD;
$accent-hover: #6e0836;
$neutral-20: #DFDEDA;
$neutral-30: #C5C5C5;
$neutral-40: #AAADAF;
$neutral-50: #909499;
$neutral-60: #767B84;
$neutral-70: #5C626E;
$neutral-80: #414A58;
$neutral-90: #273143;
$primary-20: #C0F1FB;
$primary-40: #22D2F1;
$primary-60: #18315E;
$primary-80: #0D182D;
$secondary-20: #DBC99A;
$secondary-40: #FFCF15;
$secondary-60: #8A681B;
$secondary-80: #543612;
$supporting-20: #F3DDD4;
$supporting-40: #F3D5B3;
$supporting-60: #DAD8BD;
$supporting-80: #DCD3D0;
$white-linen: #f7f9f0;

$link-hover-color: $primary-40;
$transition-speed: 0.3s;
$transition-timing: ease-in-out;
