footer {
    padding-bottom: $spacer;
}

#footer-middle {
    border-bottom-color:  $primary-60;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#affiliate-logos {
    a {
        border: 1px solid transparent;
        display: inline-block;
        padding: 2px;

        &:hover {
            border-color: $primary-60;
        }
    }
}
