#header-nav {
    background: $primary-60;
    border-color: $primary-80;
    border-style: solid;
    border-width: 1px;
    border-radius: $spacer * 0.25;
    position: sticky;
    top: 0;
    z-index: 99;

    .nav-link {
        color: $secondary-20;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        text-transform: uppercase;

        &:focus-visible {
            color: $link-hover-color; 
        }
        &:hover {
            color: $link-hover-color;
            border-color: rgba(108, 233, 255, 0.3);
        }
    }
}

.site-logo {
    .logo-acronym {

        fill: $base-bg;
    }

    &:focus-visible,
    &:hover {
        .logo-acronym {
            fill: $link-hover-color;
        }
    }

    .logo-phrase {
        fill: $secondary-20;
    }
}

.navbar-toggler {
    background: $base-bg;
    transition: all $transition-speed $transition-timing;

    &:focus-visible {
        box-shadow: 0 0 0 2px $base-bg;
    }
    &:focus-visible,
    &:hover {
        background: $accent-40;
    }
}

